<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>SWACLI</WebPublishMethod>
    <ResourceId>/subscriptions/6e24c77b-cdca-46c6-a63b-398ed9bb5bac/resourceGroups/dpuntosRG/providers/Microsoft.Web/staticSites/testUI</ResourceId>
    <ResourceGroup>dpuntosRG</ResourceGroup>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>browser-wasm</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishProvider>AzureStaticSite</PublishProvider>
    <Environment>preview</Environment>
    <Source>None</Source>
    <OutputLocation>wwwroot</OutputLocation>
    <SiteUrlToLaunchAfterPublish>https://lemon-bush-0206f4d10.4.azurestaticapps.net</SiteUrlToLaunchAfterPublish>
    <_TargetId>AzureStaticWebApp</_TargetId>
  </PropertyGroup>
</Project>